

:root {
    --black: #333;
    --red: #e51400;
    --yellow: #f8de1f;
    --blue: #204e81;
    --green: #339933;
    --orange: #f89406;
}

.header__lang_flag {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.header__flag_flag svg {
    margin-right: 10px;
    font-size: 5px;
    transform: scale(0.1);
}
