.trains-header {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;
  background-color: black;
  width: 100%;
}

.trains-header > h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.header__links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  background-color: black;
  min-height: auto;
}

.header__links > button {
    background: transparent;
    color: white;
    border: none;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__links > button:hover {
    color: #ccc;
    background-color: #212121;
    cursor: pointer;
}

.header__lang {
  display: flex;
  padding: 5px;
  gap: 10px;
  flex-direction: column;
  min-width: 200px;
  min-height: auto;
}

.header__lang_item {
  cursor: pointer;
  background-color: var(--system-color)!important;
}
